<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="css/login.css" rel="stylesheet" id="bootstrap-css">
    </head>
    
    <body>
        <div class="jumbotron">
            <div class="container">
                <span class="glyphicon glyphicon-user"></span>
                <h2>Create Account</h2>
                {% if warning %} <div class="alert alert-warning">{{ warning }}</div> {% endif %}
                {% if success %} <div class="alert alert-success">{{ success }}</div> {% endif %}
                <form method="post" action="" name="login">
                    <input name="email" type="text" placeholder="Email">
                    <input name="password" type="password" placeholder="Password">
                    <input name="password2" type="password" placeholder="Repeat Password">
                    <input type="submit" class="btn btn-primary" value="Create Account">
                </form>
                Already got an acount? <a href="login">Sign In!</a><br>
            </div>
        </div>
    </body>
</html>